.title {
    text-align: center;
    font-size: 75px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.images {
    display: flex;
    justify-content: space-around;
}

.image-container {
    height: 500px;
    width: 500px;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.fade::after {
    content: "Men Section";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade:hover::after {
    opacity: 0.5;
}
.fade2::after {
    content: "Women Section";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade2:hover::after {
    opacity: 0.5;
}