

::-webkit-scrollbar {
   width: 10px;
 }
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: grey; 
   border-radius: 100px;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: black; 
 }
.main_container
{

   position:absolute;
   background-color: black;
   width: 1200px;
   height: 800px;
   top: 830px;
}
.container {
   cursor:pointer;
   translate: -1000px 0px;
   transition: 1s ease-in-out;
   opacity: 0;
   position:absolute;
   left: 520px;
   top: 850px;
 }
 .image {
width: 350px;
height: 300px;
 }

 .container1 {
   cursor:pointer;
    translate: -1000px 0px;
    transition:  1s ease-in-out;
    opacity: 0;
    position:absolute;
    right: 80px;
    top: 850px;
  }
 
  .overlay1 {
   position: absolute;
   bottom: 0;
   left: 0%;
   right: 100%;
   background-color: rgba(0,0,0,0.4);
   overflow: hidden;
   width: 0;
   height: 100%;
   transition: .5s ease;
  }

  .container1:hover .overlay1 {
   width: 100%;
   right: 0;
  }
 


 .overlay {
   position: absolute;
   bottom: 0;
   left: 100%;
   right: 0%;
   background-color: rgba(0,0,0,0.4);
   overflow: hidden;
   width: 0;
   height: 100%;
   transition: .5s ease;
 }

 .container2 {
   cursor:pointer;
   translate: -1000px 0px;
   transition:  1s ease-in-out;
   opacity: 0;
   position:absolute;
   right: 80px;
   top: 1200px;
 }
 
 .container2:hover .overlay1 {
   width: 100%;
   left: 0;
 }
 .container:hover .overlay {
   width: 100%;
   left: 0;
 }
 
 .container3 {
   cursor:pointer;
   translate: -1000px 0px;
   transition:  1s ease-in-out;
   opacity: 0;
   position:absolute;
   left: 520px;
   top: 1200px;
 }
 .container3:hover .overlay {
   width: 100%;
   left: 0;
 }

 .text {
   color: white;
   font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   white-space: nowrap;
 }

 .container4
 {
   translate: -1000px 0px;
   transition:  1s ease-in-out;
   opacity: 0;
   position: absolute;
   top: 800px;
   height: 800px;
   width: 450px;
 }
 .container4 img{
   width: 100%;
   height: 100%;
 }
.First_section
{
   background-image: url(used/mainphoto1.webp);
   background-size: cover;
   background-attachment:fixed;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 700px;
   overflow: hidden;
   margin: 0%;
}
.First_section img
{
   position: absolute;
   top: 580px;
   width: 1510px;
}
.Second_section
{
   height: 500px;
   overflow: hidden;
}
.second_main
{
 
   position: absolute;
   right: 10px;
}
.second_main2
{
   top: 800px;
   position: absolute;
   right: 520px;
   width: 450px;
   height: 440px;
}
.second_main3
{
   top: 800px;
   position: absolute;
   left: 10px;
}
.Second_section h1 
{
   top: 200px;
   left: 50px;
   position: absolute;
   color:hotpink;
   font-weight: bold;
} 
.Second_section h6 
{
   top: 420px;
   left: 1300px;
   font-size: larger;
   position: absolute;
   color: white;
   font-weight: bold;
} 
.Second_section h5
{
   word-wrap: break-word;
   top: 280px;
   left: 50px;
   font-size: xx-large;
   position: absolute;
   color: plum;
   font-weight: bold;
} 

.Third_section
{
   overflow: hidden;
   top:  1900px;
   left: 0%;
   right: 0%;
   bottom: 0%;
   position:absolute;
}
.Fourth_section
{
   top: 2640px;
height: 800px;
background-color: white;
overflow: hidden;
left: 0%;
right: 0%;
width: 100%;
position: absolute;
}

.Fifth_section
{
   margin: 0px;
   width: 50.1%;
   height: 100%;
   top: 2115px;
   left: 0px;
   position:absolute;
}

body
{
   font-family: 'Playfair Display', serif;
   height: auto;
   overflow: auto;
}

 ul {

     list-style-type: none;
     overflow:hidden;
     position: fixed;
     width: 100%;
     top: -10px;
     left: -30px;
     z-index: 10;
 }

 li {
     float: right;
 }

 li a 
 {
     display: block;
     color: white;
     text-align: center;
     padding: 17px 16px;
     text-decoration: none;
 }
.change_color_upper_navtoblack {
   color: black;
}
.change_color_upper_navtowhite  {
   color: white;
}
li a:hover
 {
    text-shadow:2px 2px 2px #111;
    padding: 17px 16px;
 }
 .search_nav
 {
   height: 0%;
   width: 100%;
   right: 0%;
   left: 0%;
   bottom: 0%;
   position: fixed;
   z-index: 1;
   background-color: white;
   overflow: hidden;
   transition: 1s ease-in-out;
 }

 .search_nav .closebtn {
   position: absolute;
   top: 50px;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
   color: black;
   text-decoration: none;
   
 }

 .sidenav {
   text-align: center;
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 11;
   top: 0;
   right: 0;
   background-color: #111;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
 }
 
 .sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
 }
 
 .sidenav a:hover {
   color: #f1f1f1;
 }
 
 .sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
 }
 @media only screen and (min-width: 375px) and (max-width: 700px) {
   /* For tablets: */
   .Second_section
   {
      height: auto;
      width: 100%;
   }
   .Second_section h1
   {
      width: 100%;
   }
   .Second_section h5
   {
      width: 100%;
   }
   .Second_section h6
   {
      width: 100%;
   }
   .Third_section
   {
      height: auto;
      width: 100%;
   }
 }
 @media only screen and (min-width: 768px) 
 {
   .Second_section
   {
      width: 100%;
   }
   .Third_section
   {
      height: 100%;
      width: 100%;
   }
 }
 input[type=text] {
   width: 400px;
   border-bottom: 5px solid #b4b4b4;
   font-size: 15px;
   border-top: none;
   border-left: none;
   border-right: none;
   padding: 12px 20px 5px 20px;
   transition: width 0.4s ease-in-out;
   background-color: transparent;
   margin-top: 180px;
   margin-left: 200px;
   font-size: 30px;
   color: black;
 }

 
 input[type=text]:focus {
   width: 1000px;
   outline: 0px  solid transparent;
   color: #818181;
 }
.product1
{
   position:absolute;
   height: 400px;
   margin-left: 40px;
   margin-top: 30px;
   background-color: white;
}
.product1 p
{
   font-size: bold;
}
.product1 img
{
   width: 100%;
   height: 100%;
}

.product2
{
   position:absolute;
   height: 400px;
   margin-left: 570px;
   margin-top: 30px;
   background-color: white;
}
.product2 p
{
   font-size: bold;
}
.product2 img
{
   width: 100%;
   height: 100%;
}

.product3
{
   position:absolute;
   height: 400px;
   margin-left: 1100px;
   margin-top: 30px;
   background-color: white;
}
.product3 p
{
   font-size: bold;
}
.product3 img
{
   width: 100%;
   height: 100%;
}
.footer_nav
{
   margin-top: 10px;
   background-color: white;
   width: 100%;
   position:relative;
   height: 400px;
   overflow: hidden;
}




.photo3
{
width: 100%;
height: 100%;
}
.main3
{
   margin: 0px;
   width: 50.1%;
   height: 100%;
   top: 2115px;
   left: 0px;
   position:absolute;
}
.photo4
{
   width: 100%;
   height: 100%;
}
.main4
{
   margin: 0px;
   width: 49.99%;
   height: 100%;
   overflow: hidden;
   top: 2115px;
   left: 760px;
   position:absolute;
}
 .video
 {
    width: 100%; 
 }
 .video2
 {

    width: 100%;

 }
.main5
{
   margin: 0px;
   box-shadow: 2px 2px black;
   right: 0%;
   overflow: hidden;
   top: 2860px;
   left: 0px;
   width: 100%;
   position:absolute;
}



